# =========================
# Python bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# =========================
# Distribution / packaging
# =========================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Logs & debugging
# =========================
*.log
*.out
*.err

# =========================
# Unit test / coverage
# =========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*~

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Data / large files (customize!)
# =========================
*.npz
*.npy
*.pickle
*.pkl

# =========================
# Outputs / results
# =========================
*.json
*.csv

# =========================
# Temporary files
# =========================
tmp/
temp/



# =========================
# Database files
# =========================
db/
